# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Distribution / packaging
.venv/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
uv.lock

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Environment files
.env
.flaskenv

# IDEs and other tools
.idea/
.vscode/
.ruff_cache/

# macOS
.DS_Store

# PyCharm
# .idea/ is a directory containing project-specific settings,
# it is better to ignore it completely.
# https://docs.github.com
# It is not recommended to track it in VCS.

# Ruff cache
.ruff_cache/
